<footer class="footer bg-dark py-3 mt-auto">
    // mt-auto moves footer down to bottom of view page when d-flex and vh-100 class is applied to body
    // mt-auto used as there is a align item self but no justify item self for main axis (vertical in this case)
    <div class="container">
        <span class="text-secondary">&copy YelpCamp 2024</span>
    </div>
</footer>